body {
	background-color: skyblue;
	display: flex; /* enables "flexbox" which allows you to display your elements in a flexible way */
	align-items: center; /* centers the items vertically inside the container */
	justify-content: center; /* centers the items horizontally inside the container */
	height: 100vh; /* sets the height to the full height of the screen */
	margin: 0; /* remove the small margin (empty space) surrounding the body tag by default */
}

h1 { /* now these rules only apply to h1 tags! */
	color: black; /* you can set your text color to whatever - i kept it black */
	font-size: 67px; /* let's make it mega big!! you can change this number to tweak the size to your liking*/
	font-family: sans-serif; /* you can set this to serif, sans-serif, monospace, or cursive! */

}